
/* Colors */
$beige: #f5dfbf;
$goldish: #a68750;
$lightGoldish: #e1c158;
$blue: #010101;
$lightNavy: #0f6186;
$navy: #0d243a;
$darkGrey: rgba(1, 1, 1, 0.86);
$grey: #2c2c2c;


/* Fonts */
@font-face {
  font-family: LondonBetween;
  src: url(../fonts/LondonBetween.ttf);
}

@font-face {
  font-family: LondonMM;
  src: url(../fonts/LondonMM.ttf);
}

a {
  color: $grey;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

p {
  color: $beige;
  font-size: 20px;
}

.center {
  text-align: center;
}

img.center {
  display: block;
  margin: 0 auto;
}



/*
  General -----------------------------------------------------------------------
*/

html{
  background: url("../image/background/darkgrey.jpg");
  max-width: 100%;
  font-family: LondonBetween, LondonMM, Helvetica, sans-serif;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

main {
  max-width: 100%;
  padding-left: 200px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  padding-left: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  padding-left: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: $darkGrey;
}


ul {
  display: block;
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
}

button {
  outline: 0;
}

button:focus {
  outline:0;
}

.container {
  margin: 0 auto 0 auto;
  overflow: hidden;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
  .column1-2{
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  main, nav, footer {
    padding-left: 0;
  }
  main .column1-2, main .column2-2{
    width: 100%;
  }
  main .imageSlider {
    height: 380px;
  }
}

@media screen and (max-width: 1300px) {
  main .column1-2, main .column2-2{
    width: 100%;
  }
  main .imageSlider {
    height: 420px;
  }
}
/*
@media only screen and (max-width: 1500px) {
  main .imageSlider {
    height: 470px;
  }
}

@media only screen and (max-width: 1600px) {
  main .imageSlider {
    height: 500px;
  }
}
*/
.column1-2 {
  width: 45%;
  float: left;
  margin-right: 5%;
}

.column2-2 {
  width: 45%;
  float: left;
}

.column1 {
  float: none;
}


.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

@mixin containerModifier($marginAmount, $class) {
  .container--#{$class}
  {
    margin: 0 auto 0 $marginAmount;
  }
};

@include containerModifier(auto, nested);

@include containerModifier(0, wide);

/*
  Nav bars -----------------------------------------------------------------------
*/
.wrapper {
  position: relative;
  height: 100%;
}

.nav {
  background-color: $darkGrey;
  width: 100%;
  height: 70px;
}

.navContainer {
  margin: 0 39px;
  max-width: 1280px;
  width: 90%;
  height: 100%;
}

.name {
  font-family: LondonMM;
  font-size: 40px;
  color: $beige;
  line-height: 90px;
  vertical-align: text-bottom;
}

.side-nav {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: calc(100% + 60px);
  height: -moz-calc(100% - 60px);
  padding-bottom: 60px;
  background-color: $navy;
  z-index: 999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: auto;
  box-shadow: 5px 8px 16px 0 rgba(166, 135, 80, 0.2),0 6px 20px 0 rgba(166, 135, 80, 0.19);
  a {
    color: $beige;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 30px;
    &:hover{
      background: darken($lightNavy, 10%);
      transition: all 600ms ease;
      border-bottom-style: ridge;
      border-width: 0.8px;
      border-color: $goldish;
    }
  }
}

.logo {
  width: 200px;
  height: 90px;
}

.logoContainer {
  height: 90px;
}



/*
  Main -----------------------------------------------------------------------
*/


    /*
      Banner -----------------------------------------------------------------------
    */

.mainBackgroundContainer {
  position: relative;
  overflow: hidden;
  height: 900px;
  margin-bottom: 60px;
}

.mainBackground {
  background: url("../image/background/cityBW.jpeg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.shadowFade {
  background: url("../image/background/gradient.png");
  bottom: 0;
  left: 0;
  height: 140px;
  width: 100%;
  position: absolute;
}

.mainBackground img {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.greyerShade {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
}

.flag {
  width: 150px;
  height: 150px;
}

.mainFont {
  font-family: LondonMM, sans-serif;
  font-size: 55px;
  color: $beige;
}

.paneAlignment {

    display: inline;
    float: right;
}

.bannerPane {
  background-color: $darkGrey;
  height: 50px;
  width: 190px;
  margin: 0 0 0 auto;
  padding: 20px 20px 20px 20px;
  z-index: 0;
  a {
    color: $beige;
    &:hover {
      color: $grey;
    }
  }
  &:hover{
    background: darken($lightNavy, 10%);
    transition: all 600ms ease;
    border-bottom-style: ridge;
    border-width: 0.8px;
    border-color: $goldish;
  }
}

.paneBackground {
  background-color: black;
  position: absolute;
  height: 50px;
  width: 200px;
  z-index: -1;
  opacity: 0.5;
}

.no-margin {
  margin: 0 0 0 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
    /*
      About -----------------------------------------------------------------------
    */

.aboutBackgroundContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.aboutBackground {
  background: url("../image/background/cityCross.jpeg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.paneAlignmentAbout {
  li{
    margin: 0 0 40px 0;
    display: inline;
    float: right;
  }
}

.blueShade {
  background-color: $navy;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
}


.profile {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  //border-radius: 50%;
}

.profile img{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.description {
  font-family: LondonMM, sans-serif;
  color: $beige;
  a {
    color: $beige;
    &:hover {
      color: $grey;
    }
  }
}

.descriptionBackground {
  background-color: $darkGrey;
  padding: 30px 30px 30px 30px;
  margin-bottom: 25px;
}

    /*
      Projects -----------------------------------------------------------------------
    */

.projectsBackgroundContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.projectsBackground {
  background: url("../image/background/footer_lodyas.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.projectPaneTitle {
  background-color: $darkGrey;
  height: 100%;
  max-width: 370px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  p {
    font-size: 28px;
    margin: 0;
  }
}

.projectPane {
  background-color: $darkGrey;
  height: 100%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

.paneAlignmentProject {
  overflow: hidden;
}


.accordionButton {
  background-color: $grey;
  font-family: LondonBetween, sans-serif;
  border: 0;
  margin-bottom: 5px;
  font-size: 15px;
  cursor: pointer;
  color: $beige;
  &:hover{
    background: darken($lightNavy, 10%);
    transition: all 600ms ease;
    border-bottom-style: ridge;
    border-width: 0.8px;
    border-color: $goldish;
  }
}

.accordionPanel {
  display: none;
  border-top: ridge;
  border-bottom: ridge;
  border-width: 0.8px;
  border-color: $beige;
}

.activeButton{
  background-color: darken($lightNavy, 10%);
  border-bottom-style: ridge;
  border-width: 0.8px;
  border-color: $goldish;
}


          /*
            Slider -----------------------------------------------------------------------
          */

.imageSlider {
  position: relative;
  overflow: hidden;
}

.sliderHeight {
  height: 550px;
}

.slideContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide img{
  width: 100%;
}

.slide:first-child {
  display: block;
}

.pausePlay {
  margin-top: 10px;
  cursor: pointer;
}

.slideButtons {
  margin-bottom: 20px;
}

.slide-btn {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 12px;
  border-radius: 50%;
  background-color: black;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 3;
  &:hover{
    background: darken($beige, 10%);
    transition: all 300ms ease;
  }
}

.active{
  background-color: $goldish;
}

    /*
      Links -----------------------------------------------------------------------
    */

.linksBackgroundContainer {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.linksBackground {
  background: url("../image/background/stars.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.links-font{
  font-size: 20px;
  color: #FFFFFF;
}

ul#linksInUl li{
  display: inline;
}

.links-list li{
  display: inline;
}

.myDraggable {
  background-color: $blue;
  width: 150px;
  height: 150px;
  padding: 0.5em;
  box-shadow: 5px 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.myDraggable.ui-draggable-dragging { background: rgba(255, 0, 0, 0.71); }

    /*
      Button -----------------------------------------------------------------------
    */

.buttonWithShadow{
  display: inline-block;
  font:inherit;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: $blue;
  &:hover{
    background: darken($blue, 10%);
    transition: all 300ms ease;
  }
}

.buttonCircle {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}


/*
  Footer -----------------------------------------------------------------------
*/

.footerFont {
  margin: 0;
  font-size: 15px;
  padding-top: 15px;
  color: white;
  text-shadow: none;
}


//Ajax Loader

#ajaxLoader {
  display: block;
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%;
}

.box {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
}

.loading:before {
  content: '';
  position: absolute;
  width: 68px;
  height: 68px;
  top: 50%;
  margin-top: -34px;
  left: 50%;
  margin-left: -34px;
  border-width: 4px 2px;
  border-style: solid;
  border-color: rgb(221,187,0) rgba(221,187,0,0.3);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: spin 3.45s infinite;
  -o-animation: spin 3.45s infinite;
  -ms-animation: spin 3.45s infinite;
  -webkit-animation: spin 3.45s infinite;
  -moz-animation: spin 3.45s infinite;
}
.loading:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  background-color: rgb(221,187,0);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
}






@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(360deg);
  }
  100% {
    -o-transform: rotate(1080deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(360deg);
  }
  100% {
    -ms-transform: rotate(1080deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(1080deg);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(221,187,0,0.2);
  }
  13% {
    background-color: rgba(221,187,0,0.2);
  }
  15% {
    background-color: rgba(255,234,119,0.9);
  }
  28% {
    background-color: rgba(255,234,119,0.9);
  }
  30% {
    background-color: rgba(221,187,0,0.2);
  }
  43% {
    background-color: rgba(221,187,0,0.2);
  }
  45% {
    background-color: rgba(255,234,119,0.9);
  }
  70% {
    background-color: rgba(255,234,119,0.9);
  }
  74% {
    background-color: rgba(221,187,0,0.2);
  }
  100% {
    background-color: rgba(255,234,119,0.9);
  }
}

@-o-keyframes pulse {
  0% {
    background-color: rgba(221,187,0,0.2);
  }
  13% {
    background-color: rgba(221,187,0,0.2);
  }
  15% {
    background-color: rgba(255,234,119,0.9);
  }
  28% {
    background-color: rgba(255,234,119,0.9);
  }
  30% {
    background-color: rgba(221,187,0,0.2);
  }
  43% {
    background-color: rgba(221,187,0,0.2);
  }
  45% {
    background-color: rgba(255,234,119,0.9);
  }
  70% {
    background-color: rgba(255,234,119,0.9);
  }
  74% {
    background-color: rgba(221,187,0,0.2);
  }
  100% {
    background-color: rgba(255,234,119,0.9);
  }
}

@-ms-keyframes pulse {
  0% {
    background-color: rgba(221,187,0,0.2);
  }
  13% {
    background-color: rgba(221,187,0,0.2);
  }
  15% {
    background-color: rgba(255,234,119,0.9);
  }
  28% {
    background-color: rgba(255,234,119,0.9);
  }
  30% {
    background-color: rgba(221,187,0,0.2);
  }
  43% {
    background-color: rgba(221,187,0,0.2);
  }
  45% {
    background-color: rgba(255,234,119,0.9);
  }
  70% {
    background-color: rgba(255,234,119,0.9);
  }
  74% {
    background-color: rgba(221,187,0,0.2);
  }
  100% {
    background-color: rgba(255,234,119,0.9);
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(221,187,0,0.2);
  }
  13% {
    background-color: rgba(221,187,0,0.2);
  }
  15% {
    background-color: rgba(255,234,119,0.9);
  }
  28% {
    background-color: rgba(255,234,119,0.9);
  }
  30% {
    background-color: rgba(221,187,0,0.2);
  }
  43% {
    background-color: rgba(221,187,0,0.2);
  }
  45% {
    background-color: rgba(255,234,119,0.9);
  }
  70% {
    background-color: rgba(255,234,119,0.9);
  }
  74% {
    background-color: rgba(221,187,0,0.2);
  }
  100% {
    background-color: rgba(255,234,119,0.9);
  }
}

@-moz-keyframes pulse {
  0% {
    background-color: rgba(221,187,0,0.2);
  }
  13% {
    background-color: rgba(221,187,0,0.2);
  }
  15% {
    background-color: rgba(255,234,119,0.9);
  }
  28% {
    background-color: rgba(255,234,119,0.9);
  }
  30% {
    background-color: rgba(221,187,0,0.2);
  }
  43% {
    background-color: rgba(221,187,0,0.2);
  }
  45% {
    background-color: rgba(255,234,119,0.9);
  }
  70% {
    background-color: rgba(255,234,119,0.9);
  }
  74% {
    background-color: rgba(221,187,0,0.2);
  }
  100% {
    background-color: rgba(255,234,119,0.9);
  }
}

@keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 2px rgba(221,187,0,0.8);
  }
  40% {
    box-shadow: 0 0 0 2px rgb(255,255,255), 0 0 0 4px rgba(221, 187, 0, 0.8);
  }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8);
  }
}

@-o-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 2px rgba(221,187,0,0.8);
  }
  40% {
    box-shadow: 0 0 0 2px rgb(255,255,255), 0 0 0 4px rgba(221, 187, 0, 0.8);
  }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8);
  }
}

@-ms-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 2px rgba(221,187,0,0.8);
  }
  40% {
    box-shadow: 0 0 0 2px rgb(255,255,255), 0 0 0 4px rgba(221, 187, 0, 0.8);
  }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8);
  }
}

@-webkit-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 2px rgba(221,187,0,0.8);
  }
  40% {
    box-shadow: 0 0 0 2px rgb(255,255,255), 0 0 0 4px rgba(221, 187, 0, 0.8);
  }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8);
  }
}

@-moz-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 2px rgba(221,187,0,0.8);
  }
  40% {
    box-shadow: 0 0 0 2px rgb(255,255,255), 0 0 0 4px rgba(221, 187, 0, 0.8);
  }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8);
  }
}