
/* Colors */
$blue: #00b8d4;
$grey: #2c2c2c;


/* Fonts */
@font-face {
  font-family: LondonBetween;
  src: url(../fonts/LondonBetween.ttf);
}

a {
  color: $grey;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.center {
  text-align: center;
}

/*
  General -----------------------------------------------------------------------
*/

html{
  max-width: 100%;
  font-family: LondonBetween, Helvetica, sans-serif;
  /* background: url("../image/cityBlurred.jpg"), url("../image/cityStreet.jpg") no-repeat fixed; */
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

main {
  max-width: 100%;
  padding-left: 200px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  padding-left: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
}

.container {
  margin: 0 auto 0 auto;

  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  main, nav {
    padding-left: 0;
  }
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

@mixin containerModifier($marginAmount, $class) {
  .container--#{$class}
  {
    margin: 0 auto 0 $marginAmount;
  }
};

@include containerModifier(auto, nested);

@include containerModifier(0, wide);

/*
  Nav bars -----------------------------------------------------------------------
*/
.wrapper {
  position: relative;
  height: 100%;
}

.nav {
  background-color: $blue;
  width: 100%;
  height: 90px;
}

.navContainer {
  margin: 0 39px;
  max-width: 1280px;
  width: 90%;
  height: 100%;
}

.name {
  font-size: 40px;
  color: #fff;
  line-height: 90px;
  vertical-align: text-bottom;
}

.side-nav {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: calc(100% + 60px);
  height: -moz-calc(100% - 60px);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: auto;
  box-shadow: 5px 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  a {
    color: rgba(9, 16, 49, 0.99);
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 30px;
    &:hover{
      background-color: $blue;
      background: darken($blue, 10%);
      transition: all 600ms ease;
    }
  }
}

.logo {
  width: 220px;
  height: 90px;
}

.logoContainer {
  height: 90px;
}

/*
  Main -----------------------------------------------------------------------
*/

.mainBackgroundContainer {
  position: relative;
  overflow: hidden;
  height: 1200px;
}

.mainBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.mainBackground img {
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.mainFont {
  font-size: 50px;
  color: #FFFFFF;
}

.pane {
  height: 300px;
  background-color: $blue;
  margin: 0 auto 0 auto;
  padding: 20px 20px 20px 20px;
}

.paneBackground {
  position: relative;
  width: 100%;
}

.paneBackgroundSize {
  width: 100%;
  padding: 0 auto;
}

.myDraggable {
  background-color: $blue;
  width: 150px;
  height: 150px;
  padding: 0.5em;
  box-shadow: 5px 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.myDraggable.ui-draggable-dragging { background: rgba(255, 0, 0, 0.71); }

/*
  Button -----------------------------------------------------------------------
*/

.buttonWithShadow{
  display: inline-block;
  padding: 10px 20px;
  font:inherit;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: $blue;
  &:hover{
    background: darken($blue, 10%);
    transition: all 300ms ease;
  }
}



/**
 * Component: Button
 * --------------------------------------------------
 */

.c-button {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  color: #fff;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  user-select: none;
  box-shadow: 2px 2px 0 0 darken(#434A54, 5%);
  transition: all 0.2s ease;
&:hover,
&:focus {
  outline: 0;
  text-decoration: none;
 }
&:not(:disabled) {
  cursor: pointer;
 }
}

/**
 * Mixin: Button Modifier
 * --------------------------------------------------
 */

@mixin button-modifier($color, $class) {
  .c-button--#{$class} 
  {
      background: $color;
      text-shadow: 2px 2px 0 darken($color, 10%);
      &:hover {
        background: darken($color, 5%);
      }
  }
};

/**
 * Component: Button
 * Modifier: Purple
 * --------------------------------------------------
 */

@include button-modifier(#967ADC, purple);

/**
 * Component: Button
 * Modifier: Blue
 * --------------------------------------------------
 */

@include button-modifier(#4A89DC, blue);

/**
 * Component: Button
 * Modifier: Red
 * --------------------------------------------------
 */

@include button-modifier(#E9573F, red);

/**
 * Utility: Ripple
 * --------------------------------------------------
 */

.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, .25);
.c-ripple.is-active & {
  animation: a-ripple .4s ease-in;
}
}

/**
 * Animation: Ripple
 * --------------------------------------------------
 */

@keyframes a-ripple {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 1;
  }
  100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0;
  }
}