/* Colors */
/* Fonts */
@font-face {
  font-family: LondonBetween;
  src: url(../fonts/LondonBetween.ttf); }
a {
  color: #2c2c2c;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

/* General */
html {
  font-family: LondonBetween, Helvetica, sans-serif;
  background: url("../image/cityBlurred.jpg"), url("../image/cityStreet.jpg") no-repeat fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto; }

body {
  margin: 0; }

ul {
  display: block;
  list-style-type: none;
  margin: 0 0;
  padding: 0 0; }

.container {
  margin: 0 auto 0 20%;
  max-width: 1280px;
  width: 90%; }

.container--nested {
  margin: 0 auto 0 auto; }

.container--wide {
  margin: 0 auto 0 0; }

/* Nav bars */
.wrapper {
  position: relative;
  height: 100%; }

.nav {
  background-color: #00b8d4;
  width: 100%;
  height: 90px; }

.navContainer {
  margin: 0 0 0 20%;
  max-width: 1280px;
  width: 90%;
  height: 100%; }

.name {
  font-size: 40px;
  color: #fff;
  line-height: 90px;
  vertical-align: text-bottom; }

.side-nav {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: calc(100% + 60px);
  height: -moz-calc(100% - 60px);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: auto; }
  .side-nav a {
    color: rgba(9, 16, 49, 0.99);
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 30px; }
    .side-nav a:hover {
      background-color: #00b8d4; }

.logo {
  width: 220px;
  height: 90px; }

.logoContainer {
  height: 90px; }

/* Columns */
.pane {
  width: 100%;
  height: 300px;
  background-color: #00b8d4;
  margin: 200px auto;
  padding: 20px 20px 20px 20px; }

/* Button */
.buttonWithShadow {
  display: inline-block;
  padding: 10px 20px;
  font: inherit;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #00b8d4; }
  .buttonWithShadow:hover {
    background: #008ca1;
    transition: all 300ms ease; }

/**
 * Component: Button
 * --------------------------------------------------
 */
.c-button {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  color: #fff;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  user-select: none;
  box-shadow: 2px 2px 0 0 #383e46;
  transition: all 0.2s ease; }
  .c-button:hover, .c-button:focus {
    outline: 0;
    text-decoration: none; }
  .c-button:not(:disabled) {
    cursor: pointer; }

/**
 * Mixin: Button Modifier
 * --------------------------------------------------
 */
/**
 * Component: Button
 * Modifier: Purple
 * --------------------------------------------------
 */
.c-button--purple {
  background: #967ADC;
  text-shadow: 2px 2px 0 #7652d1; }
  .c-button--purple:hover {
    background: #8666d7; }

/**
 * Component: Button
 * Modifier: Blue
 * --------------------------------------------------
 */
.c-button--blue {
  background: #4A89DC;
  text-shadow: 2px 2px 0 #276ecc; }
  .c-button--blue:hover {
    background: #357bd8; }

/**
 * Component: Button
 * Modifier: Red
 * --------------------------------------------------
 */
.c-button--red {
  background: #E9573F;
  text-shadow: 2px 2px 0 #dc3519; }
  .c-button--red:hover {
    background: #e64328; }

/**
 * Utility: Ripple
 * --------------------------------------------------
 */
.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent; }

.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25); }
  .c-ripple.is-active .c-ripple__circle {
    animation: a-ripple .4s ease-in; }

/**
 * Animation: Ripple
 * --------------------------------------------------
 */
@keyframes a-ripple {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0; } }

/*# sourceMappingURL=mainCss.css.map */
