/* Colors */
/* Fonts */
@font-face {
  font-family: LondonBetween;
  src: url(../fonts/LondonBetween.ttf); }
@font-face {
  font-family: LondonMM;
  src: url(../fonts/LondonMM.ttf); }
@font-face {
  font-family: CodeProLight;
  src: url(../fonts/Code_Pro_Light_Demo.otf); }
@font-face {
  font-family: Geometria;
  src: url(../fonts/Geometria-Light.otf); }
a {
  color: #2c2c2c;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

p {
  color: #f5dfbf;
  font-size: 20px; }

.center {
  text-align: center; }

img.center {
  display: block;
  margin: 0 auto; }

/*
  General -----------------------------------------------------------------------
*/
html {
  background: url("../image/background/darkgrey.jpg");
  max-width: 2100px;
  font-family: LondonBetween, LondonMM, Helvetica, sans-serif;
  /*  -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;*/ }

header, main, footer {
  visibility: hidden; }

body {
  max-width: 2100px;
  margin: 0;
  overflow-x: hidden;
  min-height: 700px; }

main {
  max-width: 1920px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  padding-left: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

footer {
  padding-left: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: rgba(1, 1, 1, 0.86); }

ul {
  display: block;
  list-style-type: none;
  margin: 0 0;
  padding: 0 0; }

button {
  outline: 0; }

button:focus {
  outline: 0; }

.container {
  margin: 0 auto 0 auto;
  overflow: hidden;
  width: 90%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; }

  .column1-2 {
    width: 70%; } }
@media only screen and (min-width: 1000px) {
  .container {
    width: 70%; } }
@media screen and (max-width: 1000px) {
  main, nav, footer {
    padding-left: 0; }

  main .column1-2, main .column2-2 {
    width: 100%; }

  main .column1-3, main .column2-3, main .column3-3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  main .imageSlider {
    height: 380px; } }
@media screen and (max-width: 1300px) {
  main .column1-2, main .column2-2 {
    width: 100%; }

  main .imageSlider {
    height: 420px; } }
.column1-2 {
  width: 45%;
  float: left;
  margin-right: 5%; }

.column2-2 {
  width: 45%;
  float: left; }

.column1-3 {
  width: 28%;
  float: left; }

.column2-3 {
  width: 28%;
  float: left;
  margin-left: 2%;
  margin-right: 2%; }

.column3-3 {
  width: 28%;
  float: left; }

.column1 {
  float: none; }

/*
.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}*/
.container--nested {
  margin: 0 auto 0 auto; }

.container--wide {
  margin: 0 auto 0 0; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(1, 1, 1, 0.86); }

::-webkit-scrollbar-thumb {
  background-color: #f5dfbf; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0f6186; }

#collapseBanner {
  width: 100%;
  height: 300px;
  position: fixed;
  top: 100px;
  background: #707070; }

/*
  Nav bars -----------------------------------------------------------------------
*/
.wrapper {
  position: relative;
  height: 100%; }

.nav {
  background-color: rgba(1, 1, 1, 0.86);
  width: 100%;
  height: 70px; }

.navContainer {
  margin: 0 39px;
  max-width: 1280px;
  width: 90%;
  height: 100%; }

.name {
  font-family: LondonMM;
  font-size: 40px;
  color: #f5dfbf;
  line-height: 90px;
  vertical-align: text-bottom; }

.side-nav {
  position: fixed;
  width: 200px;
  height: 90%;
  max-height: 1200px;
  left: 20px;
  top: 20px;
  bottom: 20px;
  margin: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  padding-bottom: 60px;
  background-color: #0d243a;
  z-index: 999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: auto; }
  .side-nav a {
    color: #f5dfbf;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 30px;
    text-align: center;
    border-bottom-style: ridge;
    border-width: 0.8px;
    border-color: transparent; }
    .side-nav a:hover {
      background: #0a4058;
      transition: all 600ms ease;
      border-color: #a68750; }

.logo {
  width: 200px;
  height: 90px; }

.logoContainer {
  height: 90px; }

/*
  Main -----------------------------------------------------------------------
*/
/*
  Banner -----------------------------------------------------------------------
*/
.mainBackgroundContainer {
  position: fixed;
  overflow: hidden;
  max-width: 1770px;
  width: 100%;
  height: 950px;
  margin-bottom: 60px;
  padding-left: 150px; }

.mainBackground {
  background: url("../image/background/cityBW.jpeg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2; }

.shadowFade {
  background: url("../image/background/gradient.png");
  bottom: 0;
  left: 0;
  height: 140px;
  width: 100%;
  position: absolute; }

.mainBackground img {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

.greyerShade {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5; }

.flag {
  width: 150px;
  height: 150px; }

.mainFont {
  font-family: LondonMM, sans-serif;
  font-size: 55px;
  color: #f5dfbf; }

.roleFont {
  font-family: Geometria, sans-serif;
  font-size: 40px;
  color: #f5dfbf; }

.titleFont {
  font-family: Geometria, sans-serif;
  font-size: 55px;
  color: #f5dfbf; }

.paneAlignment {
  display: inline;
  float: right; }

.bannerPane {
  background-color: rgba(1, 1, 1, 0.86);
  height: 50px;
  width: 190px;
  margin: 0 0 0 auto;
  padding: 20px 20px 20px 20px;
  z-index: 0;
  border-bottom-style: ridge;
  border-width: 0.8px;
  border-color: transparent;
  transform: translate(0); }
  .bannerPane a {
    color: #f5dfbf; }
    .bannerPane a:hover {
      color: #2c2c2c; }
  .bannerPane:hover {
    background: #0a4058;
    transition: all 600ms ease;
    border-color: #a68750; }

.paneBackground {
  background-color: black;
  position: absolute;
  height: 50px;
  width: 200px;
  z-index: -1;
  opacity: 0.5; }

.no-margin {
  margin: 0 0 0 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

/*
  About -----------------------------------------------------------------------
*/
.aboutBackgroundContainer {
  position: relative;
  overflow: hidden;
  max-width: 1770px;
  width: 100%;
  min-height: 1000px;
  padding-left: 150px; }

.aboutBackground {
  background: url("../image/background/cityStreet.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2; }

.paneAlignmentAbout {
  overflow: hidden;
  visibility: hidden; }

.blueShade {
  background-color: #0d243a;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5; }

.profile {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden; }

.profile img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto; }

.description {
  font-family: LondonMM, sans-serif;
  color: #f5dfbf; }
  .description a {
    color: #f5dfbf; }
    .description a:hover {
      color: #2c2c2c; }

.descriptionBackground {
  background-color: rgba(1, 1, 1, 0.86);
  padding: 30px 30px 30px 30px;
  margin-bottom: 25px;
  border-bottom-style: ridge;
  border-width: 0.8px;
  border-color: transparent; }

.mask {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.mask:hover {
  opacity: 1; }

/*
  Projects -----------------------------------------------------------------------
*/
.projectsBackgroundContainer {
  position: relative;
  overflow: hidden;
  max-width: 1770px;
  min-height: 1800px;
  padding-left: 150px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.projectsBackground {
  background: url("../image/background/room.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2; }

.projectPaneTitle {
  background-color: rgba(1, 1, 1, 0.86);
  height: 100%;
  max-width: 370px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  visibility: hidden; }
  .projectPaneTitle p {
    font-size: 28px;
    margin: 0; }

.projectPaneTitleHeader {
  width: 70%;
  margin: 0 auto 0 auto;
  top: 0; }

.projectPaneTitleHeaderContainer {
  display: none;
  position: fixed;
  margin: 0 auto 0 auto;
  overflow: hidden;
  width: 90%; }

.projectPane {
  background-color: rgba(1, 1, 1, 0.86);
  height: 100%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px; }

.paneAlignmentProject {
  visibility: hidden;
  overflow: hidden; }

.openAllBackground {
  width: 20px;
  height: 20px;
  margin-left: 90%;
  padding: 5px 5px 5px 5px;
  background-color: #f5dfbf;
  border-bottom-style: ridge;
  border-width: 0.8px;
  border-color: transparent; }
  .openAllBackground:hover {
    background: #a68750;
    transition: all 600ms ease;
    border-color: #f5dfbf; }

.openAll {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.rotateForward {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 300ms ease; }

.rotateBack {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 300ms ease; }

.accordionButton, .accordionButtonLangN, .accordionButtonLangA {
  background-color: #2c2c2c;
  font-family: LondonBetween, sans-serif;
  border: 0;
  margin-bottom: 5px;
  font-size: 15px;
  cursor: pointer;
  color: #f5dfbf;
  border-bottom-style: ridge;
  border-width: 0.8px;
  border-color: transparent; }
  .accordionButton:hover, .accordionButtonLangN:hover, .accordionButtonLangA:hover {
    background: #0a4058;
    transition: all 600ms ease;
    border-color: #a68750; }

.accordionPanel, .accordionPanelLangN, .accordionPanelLangA {
  display: none;
  border-top: ridge;
  border-bottom: ridge;
  border-width: 0.8px;
  border-color: #f5dfbf; }

.activeButton, .activeButtonLangN, .activeButtonLangA {
  background-color: #0a4058;
  border-bottom-style: ridge;
  border-width: 0.8px;
  border-color: #a68750; }

/*
  Slider -----------------------------------------------------------------------
*/
.imageSlider {
  position: relative;
  overflow: hidden; }

.sliderHeight {
  height: 550px; }

.slideContainer {
  position: relative;
  height: 100%;
  width: 100%; }

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute; }

.slide img {
  width: 100%; }

.slide:first-child {
  display: block; }

.pausePlay {
  margin-top: 10px;
  cursor: pointer; }

.slideButtons {
  margin-bottom: 20px; }

.slide-btn {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 12px;
  border-radius: 50%;
  background-color: black;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3; }
  .slide-btn:hover {
    background: #eec993;
    transition: all 300ms ease; }

.active {
  background-color: #a68750; }

.projectMask1 {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.projectMask03 {
  opacity: 0.3;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.projectMask00 {
  opacity: 0; }

/*
  Links -----------------------------------------------------------------------
*/
.linksBackgroundContainer {
  position: relative;
  overflow: hidden;
  height: 300px;
  padding-left: 150px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.linksBackground {
  background: url("../image/background/darkgrey.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2; }

.linksList {
  padding-top: 15px; }

.links-font {
  font-size: 20px;
  color: #f5dfbf; }

#githubTitle {
  visibility: hidden; }

.mega-octicon {
  color: #f5dfbf; }
  .mega-octicon:hover {
    background: #0a4058;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all 600ms ease; }

.footerFont {
  margin: 0;
  font-size: 15px;
  padding-top: 15px;
  color: #f5dfbf;
  text-shadow: none; }

/*
  Animation -----------------------------------------------------------------------
*/
.comingLeft {
  -webkit-animation: comingLeft 1.5s;
  -o-animation: comingLeft 1.5s;
  animation: comingLeft 1.5s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

@keyframes comingLeft {
  0% {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
.comingUp {
  -webkit-animation: comingUp 0.5s;
  -o-animation: comingUp 0.5s;
  animation: comingUp 0.5s;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px); }

@keyframes comingUp {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px); } }
.comingDown {
  -webkit-animation: comingDown 1s;
  -o-animation: comingDown 1s;
  animation: comingDown 1s;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0); }

@keyframes comingDown {
  0% {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
.upAndDown {
  -webkit-animation: upDown 2s;
  -o-animation: upDown 2s;
  animation: upDown 2s;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0); }

@keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
/*
  Ajax Loader -----------------------------------------------------------------------
*/
#ajaxLoader {
  display: block;
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%; }

.box {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px; }

.loading:before {
  content: '';
  position: absolute;
  width: 68px;
  height: 68px;
  top: 50%;
  margin-top: -34px;
  left: 50%;
  margin-left: -34px;
  border-width: 4px 2px;
  border-style: solid;
  border-color: #0d243a rgba(221, 187, 0, 0.3);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: spin 3.45s infinite;
  -o-animation: spin 3.45s infinite;
  -ms-animation: spin 3.45s infinite;
  -webkit-animation: spin 3.45s infinite;
  -moz-animation: spin 3.45s infinite; }

.loading:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  background-color: #a68750;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(1080deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  50% {
    -o-transform: rotate(360deg); }
  100% {
    -o-transform: rotate(1080deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(360deg); }
  100% {
    -ms-transform: rotate(1080deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(1080deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(360deg); }
  100% {
    -moz-transform: rotate(1080deg); } }
@keyframes pulse {
  0% {
    background-color: rgba(221, 187, 0, 0.2); }
  13% {
    background-color: rgba(221, 187, 0, 0.2); }
  15% {
    background-color: rgba(255, 234, 119, 0.9); }
  28% {
    background-color: rgba(255, 234, 119, 0.9); }
  30% {
    background-color: rgba(221, 187, 0, 0.2); }
  43% {
    background-color: rgba(221, 187, 0, 0.2); }
  45% {
    background-color: rgba(255, 234, 119, 0.9); }
  70% {
    background-color: rgba(255, 234, 119, 0.9); }
  74% {
    background-color: rgba(221, 187, 0, 0.2); }
  100% {
    background-color: rgba(255, 234, 119, 0.9); } }
@-o-keyframes pulse {
  0% {
    background-color: rgba(221, 187, 0, 0.2); }
  13% {
    background-color: rgba(221, 187, 0, 0.2); }
  15% {
    background-color: rgba(255, 234, 119, 0.9); }
  28% {
    background-color: rgba(255, 234, 119, 0.9); }
  30% {
    background-color: rgba(221, 187, 0, 0.2); }
  43% {
    background-color: rgba(221, 187, 0, 0.2); }
  45% {
    background-color: rgba(255, 234, 119, 0.9); }
  70% {
    background-color: rgba(255, 234, 119, 0.9); }
  74% {
    background-color: rgba(221, 187, 0, 0.2); }
  100% {
    background-color: rgba(255, 234, 119, 0.9); } }
@-ms-keyframes pulse {
  0% {
    background-color: rgba(221, 187, 0, 0.2); }
  13% {
    background-color: rgba(221, 187, 0, 0.2); }
  15% {
    background-color: rgba(255, 234, 119, 0.9); }
  28% {
    background-color: rgba(255, 234, 119, 0.9); }
  30% {
    background-color: rgba(221, 187, 0, 0.2); }
  43% {
    background-color: rgba(221, 187, 0, 0.2); }
  45% {
    background-color: rgba(255, 234, 119, 0.9); }
  70% {
    background-color: rgba(255, 234, 119, 0.9); }
  74% {
    background-color: rgba(221, 187, 0, 0.2); }
  100% {
    background-color: rgba(255, 234, 119, 0.9); } }
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(221, 187, 0, 0.2); }
  13% {
    background-color: rgba(221, 187, 0, 0.2); }
  15% {
    background-color: rgba(255, 234, 119, 0.9); }
  28% {
    background-color: rgba(255, 234, 119, 0.9); }
  30% {
    background-color: rgba(221, 187, 0, 0.2); }
  43% {
    background-color: rgba(221, 187, 0, 0.2); }
  45% {
    background-color: rgba(255, 234, 119, 0.9); }
  70% {
    background-color: rgba(255, 234, 119, 0.9); }
  74% {
    background-color: rgba(221, 187, 0, 0.2); }
  100% {
    background-color: rgba(255, 234, 119, 0.9); } }
@-moz-keyframes pulse {
  0% {
    background-color: rgba(221, 187, 0, 0.2); }
  13% {
    background-color: rgba(221, 187, 0, 0.2); }
  15% {
    background-color: rgba(255, 234, 119, 0.9); }
  28% {
    background-color: rgba(255, 234, 119, 0.9); }
  30% {
    background-color: rgba(221, 187, 0, 0.2); }
  43% {
    background-color: rgba(221, 187, 0, 0.2); }
  45% {
    background-color: rgba(255, 234, 119, 0.9); }
  70% {
    background-color: rgba(255, 234, 119, 0.9); }
  74% {
    background-color: rgba(221, 187, 0, 0.2); }
  100% {
    background-color: rgba(255, 234, 119, 0.9); } }
@keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 2px rgba(221, 187, 0, 0.8); }
  40% {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(221, 187, 0, 0.8); }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8); } }
@-o-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 2px rgba(221, 187, 0, 0.8); }
  40% {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(221, 187, 0, 0.8); }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8); } }
@-ms-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 2px rgba(221, 187, 0, 0.8); }
  40% {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(221, 187, 0, 0.8); }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8); } }
@-webkit-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 2px #f5dfbf; }
  40% {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #f5dfbf; }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px #f5dfbf; } }
@-moz-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 2px rgba(221, 187, 0, 0.8); }
  40% {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(221, 187, 0, 0.8); }
  80% {
    box-shadow: 0 0 0 6px #FFF, 0 0 2px 6px rgba(221, 187, 0, 0.8); } }

/*# sourceMappingURL=mainCss.css.map */
